body {
  height: 100%;
  font-family: Helvetica, arial, sans-serif;
  font-size: 24px;
  color: black;
    line-height: 1.3em;
  margin-right: 12em;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
   border-bottom: 1.3px solid #000;
 }

 a:hover {
  border-bottom-color: black;
  color: #000;
   border-bottom: 1.3px solid #000;
}

h1 {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-top: 2.5em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
 margin-top: -0.3em;
}

h3 {
  font-size: .8em;
  line-height: 1em;
  font-weight: normal;
 margin-top: -0.3em;

}

ul {
  font-size: .8em;
  line-height: 1em;
  font-weight: normal;
  margin-left: 0;
}

li {
  font-size: .8em;
  line-height: 1em;
  font-weight: normal;
  margin-left: 4em;
}

 .left-col {
  float: left;
  width: 25%;
  padding: 1.6%;
  margin-top: 100px;
   background-color: red;

}

.right-col {
  float: left;
  width: 50%;
  min-height: 100vh;
  padding: 1.6%;
  border-left: 1px solid black;
     
}

